<!-- menu -->
<div class="navbar-fixed" style="z-index: 1001 !important">
    <nav>
      <div class="nav-wrapper darken-1">
        <div class="container">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/" class="flow-text">Início</a></li>
            <li>
              <a routerLink="/lista" class="flow-text">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <ul class="sidenav darken-1" id="mobile-demo" #mobile>

      <li><a routerLink="/" class="flow-text">Início</a></li>
      <li><a routerLink="/lista" class="flow-text">Sobre</a></li>
    </ul>
  </div>
  <!-- fim menu -->